@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

html {
  padding: 1rem;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0.4rem;
}
